html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #D6CFCF;
}
.head-logo{
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
    align-items: left;
    width: 75px;
    height: 75px;
}

.navbar ul {
    margin: 15px 10px;
    padding: 15px;
    border-radius: 20px;
    list-style-type: none;
    overflow: hidden;
    background-color: #EBE7E7;
}

.navbar li {
    float: left;
}

.logo{
    display: flex;
}

.navbar ul h1 {
    padding-top: 13px;
    padding-left: 15px;
}

.navbar li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    color: black
}

.navbar li a:hover {
    background-color: #CB0C13;
    border-radius: 15px;
}

.content-title {
    margin: 50px;
    display: flex;
}

.content-title h1 {
    display: block;
}

.content-title p {
    margin-top: 150px;
    margin-right: 250px;
    text-align:  center;
    font-size: larger;;
}

.content-title img {
    width: 35%;
}

.content-material {
    margin-left:  50px;
    margin-bottom: 50px;
    display: flex;
}

.content-material-title {
    margin-top: 20px;
}

.content-material-step {
    margin-top: 20px;
    list-style-type:  none;
}

.content-step {
    margin-left: 50px;
    margin-bottom: 50px;
    display: flex;
}

.content-fill-step{
    margin-top: 20px;
}

.content-fill-step  li{
    list-style-type:  decimal;
}